{{ $jquery := resources.Get "js/jquery.min.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
{{ $cookie := resources.Get "js/jquery.cookie.min.js" }}
{{ $waypoints := resources.Get "js/jquery.waypoints.min.js" }}
{{ $counterup := resources.Get "js/jquery.counterup.min.js" }}
{{ $parallax := resources.Get "js/jquery-parallax.js" }}
{{ $carousel := resources.Get "js/owl.carousel.min.js" }}
{{ $front := resources.Get "js/front.js" }}

{{ $js := slice $jquery $bootstrap $cookie $waypoints $counterup $parallax $carousel $front | resources.Concat "app.js" | minify | resources.Fingerprint "sha512" }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
