/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

#content {
  padding-bottom: 5em;
}

.home-carousel {
  background-image: url(/img/markt3-tholen.jpg);
  background-size: cover;
  background-position: bottom;;
}

.owl-item .col-sm-5.right {
  background-color: rgba(0,0,0,0.6);
  padding-left: 2em;
}

table {
  margin-bottom: 1em;
}

td.price {
  text-align: right;
  padding-left: 1em;
  white-space: nowrap;
}
