<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all">

    <header>

      {{ partial "nav.html" . }}

    </header>

    {{ partial "breadcrumbs.html" . }}

    <div id="content">
      <div class="container">
        <section>
          <div class="row">

            {{ range $index, $page := .Data.Pages }}

            <div class="col-sm-4">
              <div class="team-member animated fadeInUp" data-animate="fadeInUp" style="opacity: 0;">
                <div class="image">
                  <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="{{ .Title }}" class="avatar img-responsive img-circle">
                </div>
                <h2>{{ .Title }}</h2>
                <p class="role"><small>{{ .Params.role }}</small></p>
                <p class="role"><small>{{ .Params.clubs }}</small></p>
                <div class="text">
                  {{ .Content }}
                </div>
              </div>
            </div>

            {{ end }}

          </div>
        </section>
      </div>


      {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}

</body>

</html>
